<div class="row justify-content-center" style="margin-top: 150px;">   
    <div class="card" style="width:200px;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sarpancha </h5>
          <p class="card-text">Name of Authority</p>
          <a href="" class="link" >mail_id:</a>
        </div>
       </div>
       <div style="margin-top: 150px; margin-left: 100px; font-style: italic;font-family: fantasy;">
        <h5  >Grampanchayat Karaylya Manchar</br>
        Description
        
        </h5>
       </div> 
     
    </div> 
    <div class="row justify-content-center" style="margin-top: 150px;">   
        <div class="card" style="width:200px;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Police officer</h5>
              <p class="card-text">Name of Authority</p>
              <a href="" class="link" >mail_id:</a>
            </div>
           </div>
           <div style="margin-top: 150px; margin-left: 100px; font-style: italic;font-family: fantasy;">
            <h5  >Police Station Manchar</br>
            Description
            
            </h5>
           </div> 
         
        </div> 
        <div class="row justify-content-center" style="margin-top: 150px;">   
            <div class="card" style="width:200px;">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">ANM</h5>
                  <p class="card-text">Name of Authority</p>
                  <a href="" class="link" >mail_id:</a>
                </div>
               </div>
               <div style="margin-top: 150px; margin-left: 100px; font-style: italic;font-family: fantasy;">
                <h5  >Prathamik Arogya Kendra Awasari(kh)</br>
                Description
                
                </h5>
               </div> 
             
            </div>    
        

