<!DOCTYPE html>
<html>
        <style>
                body 
                {
                  background-image: url();
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: 100% 100%;
                  
                }
                .thumb{width :70%; float: left; height:fit-content ;
                }
                .footer{
                  position: fixed;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  background-color:rgb(32, 33,33); 
                  color: white;
                  text-align: center;
                }
                @media screen and (min-width: 2000px) {
  div.txt {
    font-size: 80px;
  }
}

@media screen and (max-width: 1000px) {
  div.txt {
    font-size: 30px;
  }
}
                             
          </style>
<head>
  
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>Local Grievances | About us</title>
</head>
<body style="width:100%;">
    
 
  <nav class="navbar navbar-expand-md navbar-dark  pl-5 fixed-top" style="background-color: rgb(223, 100, 18);">
    <img src="../images/logo.jpeg" class="image-fluid rounded " style="height:80px; width:80px; border-radius: 80px;" />
    <a href="/" class="navbar-portal" style="text-decoration: none; color:white;margin-left: 2%; font-size:35px;font-family: 'Times New Roman', Times, serif ;font-style: oblique;"><strong>Local Grievance Portal</strong> <br><h6 style="margin-left:5%; color: black; font: italic;">Sound Your Complaint Louder | Team Jeevanpradaya</h6></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#tabmenu">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="tabmenu">

       
<ul class="nav nav-tab" style="margin-left: 30%;">

<li class="nav-item "><a href="/linked" class="nav-link " style="color: white; float: right;">Department Linked</a></li>

</ul>


    </div>
</nav>

      <div class="bg-image" style="max-width:900px; margin:0 auto ; padding: 10px; margin-bottom:300px">
        <div class="container-fluid">
          <div class="row justify-content-center" style="margin-top:15%;  border-radius: 84px 10px 84px 10px;
         ">
          
            <div class="col-md-12 thumb txt">
              <h3 style="color: rgb(223, 100, 18);font-weight: bolder;font-style: oblique; text-align:left;">"TEAM JEEVANPRADAYA"
                <H6 style="color: rgb(18, 121, 14) ;font-style: italic;" >-leading to better society</H6>
          </h3>
              <p class="lead text-justify " style="color:rgb(0, 0, 0) ;font-style: italic; font-size:medium;padding-top:3px;padding-bottom: 3px; padding-left:150px ;padding-right: 150px;">"This portal is design
               and develope by TEAM JEEVANPRADAYA .Team having the vision of betterment 
               of society and leads to the ideal society.All complaints that had been entered on portal regrading discomfort or 
               uneasy behaviour seen in the society.It may particular talks about your locality and local problem face by individual.In such scenario one can 
               give complaint on the portal which will be deliver to particular department and also to particular person of responsibility who hanving authority 
               to clearify your complaints and solve the issue regarding the complaint.This portal will help every individual to solve some little big problem 
               and also to raise your voice against useasy behaviour seen in your area.It is right of every individual to speak up about injustice and this 
               portal will make it easy and possible from anywhere.This will lead us to ideal society. 
              </p><br><br>
              <h2 style="color: rgb(18, 121, 14) ;font-style: italic;"><strong>TEAM JEEVANPRADAY</strong></h2>
              <H3 style="color: rgb(223, 100, 18);font-weight: bolder;font-style: oblique; text-align:left;">Aishwarya Pawar<br>Ashwini Kurkute<br>Vaishnavi Shinde<br>Rupali Zanjad<br>Vrushali Akolkar</H3>
          
              
            </div>
          </div>
        </div>
      </div>


      <div class="footer">
        <span>Follow Us: </span>
        <a href="https://www.facebook.com/team.jeevanpradaya/ " target="_blank "><img src="../images/fb.png " alt="facebook " style="height:20px; width:20px; "> </img>
        </a>
        <a href="https://twitter.com/jeevanpradaya?s=09" target="_blank "><img src="../images/twit.png " alt="twitter " style="height:20px; width:20px; "> </img>
        </a>
        <a href="https://instagram.com/team_jeevanpradaya?igshid=1jqj5xv3a1yq9" target="_blank "><img src="../images/insta.png" alt="you tube " style="height:20px; width:20px; "> </img>
            <a href="http://localgrievance.in:4000/aboutus">
                <p style="color: white;">Designed by TEAM JEEVANPRADAYA &copy; 2020.</p>
            </a>
    </div>







  

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="snippet.js"></script>




</body>
</html>